annotations/captions_train2017.json
annotations/captions_val2017.json
annotations/instances_train2017.json
annotations/instances_val2017.json
annotations/person_keypoints_train2017.json
annotations/person_keypoints_val2017.json
Pre-graduate practice (Практика)/Src/Models/PyTorch_COCO_model.pth
.vscode/settings.json
Diploma project (Дилом)/src/CNN model/yolov3.weights
Diploma project (Дилом)/src/CNN model/yolov3.cfg
Diploma project (Дилом)/Data/
Diploma project (Дилом)/src/OPNX_FPGA/person_detection_model.onnx
Diploma project (Дилом)/src/OPNX_FPGA/fasterrcnn_resnet50_fpn.onnx
Diploma project (Дилом)/src/OPNX_FPGA/model.onnx
Diploma project (Дилом)/src/CNN model/20230621_000735.mp4
Diploma project (Дилом)/src/CNN model/bandicam 2023-06-21 00-28-45-754.mp4
Diploma project (Дилом)/src/CNN model/bandicam 2023-06-21 01-01-20-177.mp4
Diploma project (Дилом)/src/CNN model/bandicam 2023-06-21 03-54-13-300.mp4
Diploma project (Дилом)/src/CNN model/vidoe.mp4
