annotations/captions_train2017.json
annotations/captions_val2017.json
annotations/instances_train2017.json
annotations/instances_val2017.json
annotations/person_keypoints_train2017.json
annotations/person_keypoints_val2017.json
Pre-graduate practice (Практика)/Src/Models/PyTorch_COCO_model.pth
.vscode/settings.json
Diploma project (Дилом)/src/CNN model/yolov3.weights
Diploma project (Дилом)/src/CNN model/yolov3.cfg
Diploma project (Дилом)/Data/